<div name="{% if name is not None %}{{ name }}{% else %}asset-loading-pie-chart-id{% endif %}"
    class="cardx text-dark border-lightx shadow-sm bg-lightx mb-3 pb-2"
>
    <div class="row mx-4 my-4">
        <div class="col-1 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-3 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-8 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-4 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-8 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-5 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-7 mb-3 asset-loading asset-loading-text"></div>
        <div class="col-4 mb-3 asset-loading asset-loading-text"></div>
    </div>
</div>
