<div name="{% if name is not None %}{{ name }}{% else %}asset-loading-pie-chart-id{% endif %}"
    class="cardx text-dark border-lightx shadow-sm bg-lightx mb-3 pb-2"
>
    <div class="row">
        <div class="col-1">
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
        </div>
        <div class="col-2">
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
        </div>
        <div class="col-1">
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
        </div>
        <div class="col-2">
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
            <div class="col-12 mb-3 asset-loading asset-loading-text"></div>
        </div>
    </div>
</div>
